* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.green-button {
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    background-color: #21AD96;
    color: white;
    font-weight: 700;
    font-size: 15px;
}